
BearCat-E/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
.vs/BearCat-E/v16/.suo
BearCat-E/bin/Debug/netcoreapp3.1/BearCat-E.Views.dll
BearCat-E/bin/Debug/netcoreapp3.1/BearCat-E.Views.pdb
BearCat-E/obj/Debug/netcoreapp3.1/BearCat-E.assets.cache
BearCat-E/obj/Debug/netcoreapp3.1/BearCat-E.GeneratedMSBuildEditorConfig.editorconfig
BearCat-E/obj/Debug/netcoreapp3.1/BearCat-E.Views.dll
BearCat-E/obj/Debug/netcoreapp3.1/BearCat-E.Views.pdb
