

<div class="row justify-content-center m-3">
    <div class="card" style="width:300px;height:auto">
        <img class="card-img-top" src="~/Images/image1.jpg" alt="Card image cap">
        <div class="card-body">
            <h3>Monday Morning Meditation</h3>
            <h6>Venue: J.W. Jones Student Union</h6>
            <h6>Date & Time: Monday, October 11, 2021, 10:00 am - 11:00 am</h6>
            <h6>hi</h6>
            <h6></h6>
        </div>
    </div>

</div>