<div class="row justify-content-center m-3">
    <div class="card" style="width:300px;height:auto">
        <img class="card-img-top" src="~/Images/image1.jpg" alt="Card image cap">
        <div class="card-body">
            <h3>Monday Morning Meditation</h3>
            <h6>Venue: J.W. Jones Student Union</h6>
            <h6>Date & Time: Monday, October 11, 2021, 10:00 am - 11:00 am</h6>
            <h6></h6>
        </div>
    </div>

</div>

<div class="row justify-content-center m-3">
    <div class="card" style="width:300px;height:auto">
        <img class="card-img-top" src="~/Images/image1.jpg" alt="Card image cap">
        <div class="card-body">
            <h3>Senior Recital: Clayton DeWitt</h3>
            <h6>Venue: Olive DeLuce Fine Arts Building, Charles Johnson Theater -- Auditorium</h6>
            <h6>Date & Time: Monday, November 15, 2021 7:30 pm</h6>
            <h6></h6>
        </div>
    </div>

</div>

<div class="row justify-content-center m-3">
    <div class="card" style="width:300px;height:auto">
        <img class="card-img-top" src="~/Images/image1.jpg" alt="Card image cap">
        <div class="card-body">
            <h3>Discover Your Major Visit Day: Esports</h3>
            <h6>Venue: JJ.W. Jones Student Union, 3rd Floor, Boardroom</h6>
            <h6>Date & Time: Tuesday, November 16, 2021 9:00 am - 2:30 pm</h6>
                <h6></h6>
</div>
    </div>

</div>

<div class="row justify-content-center m-3">
    <div class="card" style="width:300px;height:auto">
        <img class="card-img-top" src="~/Images/image1.jpg" alt="Card image cap">
        <div class="card-body">
            <h3>Bucketball (Cup-Pong) Tournament</h3>
            <h6>Venue: 800 University Drive- Student Rec Center, Maryville, MO</h6>
            <h6>Date & Time: Tuesday, November 16, 2021 5:00 pm - 9:00 pm</h6>
            <h6></h6>
        </div>
    </div>

</div>

<div class="row justify-content-center m-3">
    <div class="card" style="width:300px;height:auto">
        <img class="card-img-top" src="~/Images/image1.jpg" alt="Card image cap">
        <div class="card-body">
            <h3>Movie screening "Happy"</h3>
            <h6>Venue: Carl and Cheryl Hughes Fieldhouse</h6>
            <h6>Date & Time: Tuesday, November 16, 2021 7:00 pm - 9:00 pm</h6>
            <h6></h6>
        </div>
    </div>

</div>