<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">        
   </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control"  placeholder="Password">
    </div>
 
    <button type="submit" class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Submit</button>
    <button type="submit" class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="SignUp">Sign Up</button>
</form>